doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		title Cookie Cruncher
	body
		main
			div(class="button",onclick="toggleClass('.settings', 'open')")
			div(class="settings")
				-var discounts = ['Divine discount','Season savings','Santa\'s dominion','Faberge egg','Dotjeiess, Spirit of Creation','Summon Crafty Pixies','Fierce Hoarder','Everything must go','Starter kit','Starter kitchen','Short numbers ON']
				each item in discounts
					label
						input(type="checkbox")
						=item
			div(class="buildings")
				-var bldgs = ['Cursor','Grandma','Farm','Mine','Factory','Bank','Temple','Wizard tower','Shipment','Alchemy lab','Portal','Time machine','Antimatter condenser','Prism','Chancemaker']
				each item in bldgs
					div(id=item.toLowerCase())
						span(class="title"+(item.length>7?(item.length>14?' smaller':' small'):''))=item
						input(type="number",value=0,min=0,max=9999,step=1)
						span(class="output") 0

		script(src="https://unpkg.com/react@16/umd/react.production.min.js", crossorigin)
		script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js", crossorigin)
		script(src="js/main.js")